<div class="logo">
<img src="{{@blog.logo}}"/>
</div>
<h5>{{@blog.title}}</h5>
<hr>
{{navigation}}
<hr>
<ul class="list-unstyled menu">
    <li>
        <a href="https://github.com/lorismaz" target="_blank">
         <i class="el el-github"></i> GitHub
        </a>
    </li>
    <li>
        <a href="https://twitter.com/lorismaz" target="_blank">
            <i class="el el-twitter"></i> @lorismaz
        </a>
    </li>
        <li>
        <a href="https://linkedin.com/in/lorismaz" target="_blank">

        <i class="el el-linkedin"></i>
            LinkedIn
        </a>

    </li>
</ul>
